html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Consolas, 'Times New Roman';
    text-align: center;
    background-color: #faf8ef;
    font-style: bold;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #766e66;
    border: none;
    margin: 10px 0;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    font-style: bold;
    color: #766e66;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
    font-style: bold;
    color: #766e66;
    margin: 0 auto;
}

h3 {
    font-size: 12px;
    font-weight: bolder;
    color: #766e66;
    margin: 0 auto;
}

#score {
    font-size: 18px;
    font-weight: bolder;
    font-style: bold;
    color: #766e66
}

#board {
    width: 245px;
    height: 280px;
    border-left: 35px solid #faf8ef;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#menuBar {
    width: 100%;
    height: 60px;
    background-color: #faf8ef;
    border-bottom: 5px solid #766e66;
    border-top: 5px solid rgba(0, 0, 0, 0);
    margin: 0;
    display: flex;
    align-items: space-between;
}

#buttonTable {
    width: 280px;
    height: 100px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 5px 0;
}

#orderTable {
    width: 100%;
    height: 70px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    position: relative;
}

.slideButton {
    background-color: #8F7A65;
    color: #766e66;
    font-size: 24px;
    width: 90px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin: auto;
    color: #FDF6EF;
}

.tileLess {
    width: 70px;
    height: 70px;

    display: flex;
    z-index: 1;
    margin-left: -35px;
}

.textU {
    transform: translate(0%, 50px);
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.textD {
    transform: translate(0%, -50px);
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.tU {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #ccc1b2;

    z-index: 1;
    margin-left: -35px;
    pointer-events: none;
}

.tD {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #ccc1b2;

    z-index: 2;
    margin-left: -35px;
    pointer-events: none;
}

.t3U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #ede4db;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #766e66;
}

.t3D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #ede4db;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #766e66;
}

.t6U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #ebdfc9;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #766e66;
}

.t6D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #ebdfc9;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #766e66;
}

.t12U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #e9b280;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t12D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #e9b280;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t24U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #f59662;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t24D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #f59662;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t48U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #e68469;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t48D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #e68469;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t96U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #e46b4c;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t96D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #e46b4c;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t192U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #eacc79;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t192D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #eacc79;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t384U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #edca64;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t384D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #edca64;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t768U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #e9c55b;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t768D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #e9c55b;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t1536U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #eec841;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t1536D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #eec841;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.t3072U {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #e9c045;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    color: #f9f6f2;
}

.t3072D {
    width: 0px;
    height: 0px;

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #e9c045;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -35px;
    color: #f9f6f2;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #faf8ef;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    color: #766e66;
    padding: 16px;
    font-size: 32px;
    font-style: bold;

    width: 280px;
    height: 280px;

    transform: translate(-50%, -40%);
    border-radius: 10px;
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
    align-items: left;
}

#closeButton {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
    font-style: bold;
    font-size: 48px;
    border: none;
}


.backgroundQuestion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    z-index: -1;
    opacity: 0;
}

.showQuestion {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.windowQuestion {
    position: relative;
    width: 100%;
    height: 100%;
}

.popupQuestion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #faf8ef;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    color: #766e66;
    padding: 16px;
    font-size: 32px;
    font-style: bold;
    display: inline;

    width: 304px;
    height: 615px;

    transform: translate(-50%, -40%);
    border-radius: 10px;
}

.showQuestion .popupQuestion {
    transform: translate(-50%, -50%);
    transition: all .5s;
    align-items: left;
}

#closeButtonQuestion {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 0;
    font-style: bold;
    font-size: 48px;
    border: none;
}

.questionSet {
    width: 272px;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
}

.questionKey {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.questionTileSet {
    width: 70px;
    height: 250px;
    color: #766e66;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.tileExample {
    border-left: 17.5px solid #faf8ef;
    width: 70px;
    height: 70px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}


.tileExample .tileLess {
    width: 35px;
    height: 35px;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -17.5px;
}


.tileExample .t3U .textU {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: translate(0%, 25px);
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.tileExample .t3D .textD {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: translate(0%, -25px);
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
    margin-top: 10px;
}

.tileExample .tU {
    width: 0px;
    height: 0px;

    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-bottom: 35px solid #ccc1b2;

    z-index: 1;
    margin-left: -17.5px;
    pointer-events: none;
}

.tileExample .tD {
    width: 0px;
    height: 0px;

    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-top: 35px solid #ccc1b2;

    z-index: 2;
    margin-left: -17.5px;
    pointer-events: none;
}

.tileExample .t3U {
    width: 0px;
    height: 0px;

    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-bottom: 35px solid #ede4db;


    display: flex;
    z-index: 1;
    margin-left: -17.5px;
    color: #766e66;
}

.tileExample .t3D {
    width: 0px;
    height: 0px;

    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-top: 35px solid #ede4db;


    display: flex;
    z-index: 2;
    margin-left: -17.5px;
    color: #766e66;
}


.backgroundSetting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    z-index: -1;
    opacity: 0;
}

.showSetting {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.windowSetting {
    position: relative;
    width: 100%;
    height: 100%;
}

.popupSetting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #faf8ef;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    color: #766e66;
    padding: 16px;
    font-size: 32px;
    font-style: bold;

    width: 280px;
    height: 352px;

    transform: translate(-50%, -40%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
}

.showSetting .popupSetting {
    transform: translate(-50%, -50%);
    transition: all .5s;
    align-items: left;
}

.menuBlock{
    width: 896px;
    height: 30px;
    font-size: 24px;
    display: flex;
    margin: 3px 0px;
}

.questionBar{
    width: 100%;
    height: 3px;
    background-color: #8F7A65;
    border: None;

}
